<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a11120029.listnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tourpac.seoultower"/>
        <activity android:name=".tourpac.building"/>
        <activity android:name=".tourpac.samload"/>
        <activity android:name=".tourpac.luxury"/>
        <activity android:name=".tourpac.aquaplanet"/>
        <activity android:name=".tourpac.marinabote"/>
        <activity android:name=".tourpac.museum"/>
        <activity android:name=".tourpac.traditional"/>
        <activity android:name=".tourpac.yungsanarthall"/>
    </application>

</manifest>